  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;500&family=Roboto:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.hero{
    width: 100%;
    height: 700px;
}

.hero a {
    cursor: default;
}

.hero a img {
    width: 100%;
    height: 100%;
}


.welcome {
    width: 100%;
    display: grid;
    place-content: center;
    background-image: url('./img/background.jpeg');
    height: 180px;
    opacity: .9;
    margin-top: 100px;
    margin-bottom: 100px;
}

.welcome h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    /* color: #fff; */
    letter-spacing: 3px;
}

.main {
    background-image: url('./img/about-bg.jpeg');
    width: 96.5%;
    padding: 20px;
    height: 600px;
    overflow-y: scroll;
}

.main::-webkit-scrollbar{
    display: none;
}

.main .div {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    margin-top: 30px;
}

.main .div div{
    width: 500px;
    display: grid;
    place-content: center;
}



.main .div div h1{
    font-size: 31px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.main .div div p{
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.main .div img{
    width: 500px;
    height: auto;
  border: 6px solid gold;
  border-radius: 4px;
}

@media only screen and (max-width: 1000px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .logo{
        height: auto;
        width: 100%;
        display: grid;
        place-content: center;
    }

    .hero .logo img{
        margin: auto;
        margin-top: 20px;
        margin-right: 25px;
        box-shadow: 0 0 17px -2px #000;
    }

    .carousel img{
        width: 300px;
    }

    .main {
        padding: 0;
    }

    .main .div {
        display: flex;
        flex-direction: column;
    }

    .main .div:nth-child(odd) {
        display: flex;
        flex-direction: column-reverse;
    }

    .main .div div {
        margin-bottom: 20px;
        width: 450px;
    }

    .main .div img{
        width: 450px;
    }
}

footer {
    width: 100%;
    margin-top: 70px;
    background-color: #000;
    color: #fff;
    display: grid;
    place-items: center;
    padding: 20px 0;
}

footer h2{
    margin-bottom: 20px;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer div ul li {
    list-style: none;
    background-color: rgb(255, 184, 6);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 23px;
    width: 320px;
    border-bottom-left-radius: 30px;
    transition: .3s ease-in;
}

footer div ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 21px;
    transition: .3s ease;
    margin-left: 60px;
    transition: .3s ease;
}

footer div ul li span{
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: 1000px;
    margin-top: -13px;
    margin-right: -25px;
    box-shadow: 0 0 10px -2px #000;
}

footer div ul li span .icon{
    color: #000;
    width: 37px;
}

footer div a:hover{
    color: #fff;
}

.fade-in-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in-out.fade-in {
    opacity: 1;
  }
  
  .fade-in-out.fade-out {
    opacity: 0;
  }
  
